.button {
  --size: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0 calc(var(--gap) / 2);
  height: var(--size);
  border: 1px solid transparent;

  color: var(--black-color);
  transition: var(--transition);
  cursor: pointer;

  &:hover, &:active, &:focus {
    border-color: var(--white-color);
    color: var(--white-color);
  }
}
