header {
  background: linear-gradient(92.7deg, var(--header-left-color) 0%, var(--header-right-color) 100%);
}
.header__text {
  font-size: 3.5rem;
  line-height: 1;

  padding: 1rem 0;

  color: var(--white-color);
}
